body {
    background-color: black;
    color: lightpink;
}

h1 { text-align: center;
 }
h2 { text-align: left; }
p 	{text-align: left; }
footer {text-align: left}


h1	{ text-transform: uppercase; /* alles met een hoofdletter */
font-size: 180%;
color: lightpink;
font-weight: thick;
font-family: Arial, Helvetica, sans-serif;
border-width: medium;

}
h2	{ text-transform: capitalize; /* elk woord met een hoofdletter */
font-size: 120%;
font-weight: thick;
font-family: Arial, Helvetica, sans-serif;
text-align: center;

}
P	{ Line-height: 100%;
word-spacing: 0.5em;
text-indent: 2em;
font-family: Arial, Helvetica, sans-serif;
}
ul     {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: pink ;
   }
li     {
    display: block;
    float:  left;
    width: 20%;
    color: lightpink;
    background-color: rgb(70, 58, 70);
    text-align: center;
    padding: 8px;
    text-decoration: none;
    border: 2px ridge rgb(36, 31, 35);
    border-radius: 25px;
   }
a      {
    display: block;
    color: lightpink;
    padding: 8px;
    background-color:rgb(70, 58, 70);
   }
li :hover
   {
    background-color: rgb(121, 111, 117);
   }
   .flex-container {
    display: inline-flex;
    flex-direction: row;
  }

   
hr  {
    
    height:2px;border-width:0;color: hotpink;background-color: lightpink;
}
img {
    display: flexbox
    
            }
.columns  {
    column-count: 2;
              }
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
              }
              
    


